default:
  logger:
    log_level: "INFO"
  service:
    host: "0.0.0.0"
    port: 8282
    cert_file: "ssl_certs/localhost.crt"
    cert_key: "ssl_certs/localhost.key"
  chat_engine:
    model_root: "models"
    concurrent_limit: 1
    handler_search_path:
      - "src/handlers"
    handler_configs:
      RtcClient:
        turn_config:
          turn_provider: "turn_server"
          urls: ["turn:169.63.100.185:3478", "turns:169.63.100.185:5349"]
          username: "xiuyz"
          credential: "admin"
        module: client/rtc_client/client_handler_rtc
        # max time a session will last for
        connection_ttl: 900
      SileroVad:
        module: vad/silerovad/vad_handler_silero
        speaking_threshold: 0.5
        start_delay: 2048
        end_delay: 5000
        buffer_look_back: 5000
        speech_padding: 512
      SenseVoice:
        enabled: True
        module: asr/sensevoice/asr_handler_sensevoice
        model_name: "iic/Whisper-large-v3-turbo"
        #model_name: "iic/SenseVoiceSmall"
      CosyVoice:
        enabled: True
        module: tts/cosyvoice/tts_handler_cosyvoice
        model_name: "iic/CosyVoice-300M-SFT" # run cosyvoice in code
        ref_audio_path: "/core/dt_avatar/code/cosyvoice_ref_audio/sft_longshu_en.wav" #use zero_shot model
        ref_audio_text: "These include various sports events including soccer, basketball, and volleyball tournaments."
        sample_rate: 24000
        process_num: 2
        #enabled: True
        #module: tts/bailian_tts/tts_handler_cosyvoice_bailian
        #voice: "longxiaochun"
        #model_name: "cosyvoice-v1"
        #api_key: "sk-12574d385818460c84a759673209981a" # default=os.getenv("DASHSCOPE_API_KEY")
      LLMOpenAICompatible:
        enabled: True
        module: llm/openai_compatible/llm_handler_openai_compatible
        model_name: "qwen-plus"
        enable_video_input: False # ensure your llm support video input
        history_length: 20
        # model_name: "gemini-2.0-flash"
        system_prompt: "Please act as an AI assistant. Answer users' questions in 2-3 concise sentences, incorporating appropriate punctuation (no need to discuss punctuation itself). Ensure your responses are in the same language as the user's question."
        api_url: "https://dashscope.aliyuncs.com/compatible-mode/v1"
        # api_url: 'http://127.0.0.1:11434/v1' # ollama
        # api_url: 'https://generativelanguage.googleapis.com/v1beta/openai/'
        api_key: "sk-12574d385818460c84a759673209981a" # default=os.getenv("DASHSCOPE_API_KEY")
      AvatarMusetalk:
        module: avatar/musetalk/avatar_handler_musetalk
        fps: 20  # Video frame rate
        batch_size: 2  # Batch processing frame count, must be greater than 2
        avatar_video_path: "src/handlers/avatar/musetalk/MuseTalk/data/video/yongen.mp4"  # Initialization video path
        avatar_model_dir: "models/musetalk/avatar_model"  # Default avatar model directory
        force_create_avatar: true  # Whether to force regenerate digital human data
        debug: false  # Whether to enable debug mode
        multi_thread_inference: true  # true: use 2 threads to inference (unet, vae), false: use single-thread to inference
        # debug_save_handler_audio: true  # Whether to save audio frames
        # debug_replay_speech_id: "speech-d9o18xrugl6-1"  # Speech ID for replay
